<footer class="page-footer blue darken-1">
    <div class="footer-copyright">
        <div class="container">
            © 2020 Ocean Vistas Condominium Association
            <a class="grey-text text-lighten-4 right" href="https://www.oceanvistas.org/">Learn More About Ocean Vistas</a>
        </div>
    </div>
</footer>