<div class="row">
    <div class="col s12 hero hero--homepage grey darken-2">
        <div class="container">
            <div class="hero__container">
                <h1>Ocean Vistas Parking Registry</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="table-container z-depth-2">
                <table class="striped highlight">
                    <thead>
                        <td>Parking Spot</td>
                        <td>Make</td>
                        <td>Model</td>
                        <td>Color</td>
                        <td>License Plate #</td>
                        <td>Full Name</td>
                        <td>Contact #</td>
                        <td>Duration Start</td>
                        <td>Duration End</td>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="parking-spot.html">1000</a></td>
                            <td>Ford</td>
                            <td>Fusion</td>
                            <td>Silver</td>
                            <td>PA KTD987D</td>
                            <td>John Doe</td>
                            <td><a href="#">(555) 555-5555</a></td>
                            <td>07/01/2020</td>
                            <td>07/08/2020</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>