<div class="row">
    <div class="col s12 hero hero--login">
        <div class="container">
            <div class="row">
                <div class="col s12 offset-m2 m8 offset-l3 l6">
                    <div class="card card-login">
                        <h3 class="card-title center-align">User Login</h3>
                        <form action="/login" method="POST">
                            <div class="row">
                                <div class="col s12">
                                    <div class="input-field">
                                        <input id="email-login" type="email" class="validate" required>
                                        <label for="email-login">Email</label>
                                    </div>
                                    <div class="input-field">
                                        <input id="password-login" type="password" class="validate" required>
                                        <label for="password-login">Password</label>
                                    </div> 
                                    <button type="submit" class="btn green darken-1 waves-effect waves-light">Log In</button>
                                    <p class="center-align"><small><em>Having trouble logging in? Send an email to <a href="mailto:gkpeel@gmail.com">Geoff Peel</a></em></small></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>